{% extends 'base.html.twig' %}
{% block body %}
<!-- navbar.twig.html -->
<!-- NAVBAR -->
<nav>
    <i class='bx bx-menu' ></i>

    <input type="checkbox" id="switch-mode" hidden>

</nav>
<!-- NAVBAR -->

{% endblock %}

